@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../components/styles.css';


/* 必要最小限のリセット */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}
