.react-calendar {
  background-color: rgb(251, 251, 242);
}

.react-calendar__navigation__label,
.react-calendar__month-view__weekdays__weekday {
  color: #555557;
}

/* 土日のテキスト色を黒に変更 */
.react-calendar__month-view__days__day--weekend {
  color: #555557 !important;
}

/* クリックした日のスタイルを上書き */
.react-calendar__tile--active,
.react-calendar__tile--hasActive {
  background: none !important;
  color: #555557 !important;
}

/* マウスカーソルが日付にフーバーしても反応しないようにする */
.react-calendar__tile:hover {
  cursor: default !important;
  background-color: none !important;
}

/* 今日の日付のスタイルを上書きして、特別な表示を無効にする */
.react-calendar__tile--now {
  background: none !important;
  color: #ca22a3 !important;
  font-weight: normal !important;
  text-decoration: none !important;
}

/* 今月の日付に下線を引く */
/*.react-calendar__month-view__days__day {
  text-decoration: none;
}*/

/* 前月と次月の日付の下線を取り除く */
.react-calendar__month-view__days__day--neighboringMonth {
  text-decoration: none !important;
}

/* 今月の全ての日付を太字にし、先月と来月の日は除外 */
.react-calendar__month-view__days__day:not(.react-calendar__month-view__days__day--neighboringMonth) {
  font-weight: bold !important; /* 太字にする */
}

/* 先月と来月の土日のテキスト色を#757575に変更 */
.react-calendar__month-view__days__day--neighboringMonth.react-calendar__month-view__days__day--weekend {
  color: #757575 !important;
}

/* 平日のテキスト色を変更 */
.react-calendar__month-view__days__day:not(.react-calendar__month-view__days__day--weekend) {
  color: #555557;
}

/* ナビゲーションバーの下に線を引く */
.react-calendar__navigation {
  border-bottom: 1px solid #000; /* 黒色の1px実線 */
}

/* 経験値に応じた色のスタイル */
.exp-level-1 {
  background-color: #e0f7fa !important;
}

.exp-level-10 {
  background-color: #b2ebf2 !important;
}

.exp-level-20 {
  background-color: #80deea !important;
}

.exp-level-30 {
  background-color: #4dd0e1 !important;
}

.exp-level-40 {
  background-color: #26c6da !important;
}

.exp-level-50 {
  background-color: #00bcd4 !important;
}

.exp-level-60 {
  background-color: #cd7f32 !important;
}

.exp-level-70 {
  background-color: #c0c0c0 !important;
}

.exp-level-80 {
  background-color: #ffd700 !important;
}

/* 今日の日付が経験値クラスを持っているときのスタイルを適用 */
.exp-level-1.react-calendar__tile--now {
  background-color: #e0f7fa !important; /* 今日の日付用の背景色 */
}

.exp-level-10.react-calendar__tile--now {
  background-color: #b2ebf2 !important;
}

.exp-level-20.react-calendar__tile--now {
  background-color: #80deea !important;
}

.exp-level-30.react-calendar__tile--now {
  background-color: #4dd0e1 !important;
}

.exp-level-40.react-calendar__tile--now {
  background-color: #26c6da !important;
}

.exp-level-50.react-calendar__tile--now {
  background-color: #00bcd4 !important;
}

.exp-level-60.react-calendar__tile--now {
  background-color: #cd7f32 !important;
}

.exp-level-70.react-calendar__tile--now {
  background-color: #c0c0c0 !important;
}

.exp-level-80.react-calendar__tile--now {
  background-color: #ffd700 !important;
}